/* Мінімалістичний CSS-reset і базові стилі */

/* Встановлюємо box-sizing */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Стилі для body */
body {
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
}

/* Зробити зображення і відео адаптивними */
img,
video {
  max-width: 100%;
  height: auto;
}
